#name {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Helvetica;
}

#navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Papyrus;
    font-weight: 600;
}

.navitems {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 5px;
}

.navitems:hover {
    background-color: gray;
    opacity: 0.5;
    cursor: pointer;
}

#bottom {
    display: flex;
    justify-content: space-evenly;
}

.imagelinks {
    width: 50px;
}

.bottomitems {
    padding-left: 400px;
    padding-right: 400px;
}

.bottomitems:hover {
    background-color: gray;
    opacity: 0.5;
    cursor: pointer;
}